body {
    font-family: 'Lato', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}
#Aboutme {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    text-align:center;
    justify-content:center;
    background-color: bisque;
    padding: 20px;
  }
.nav-section {
    border: 8px solid blue; 
    padding: 10px; 
    padding-bottom: 20px;
    transition: background-color 0.5s, border 0.5s;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-section:hover {
    background-color: paleturquoise;
    border-color: yellow; 
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: bisque;
    color: white;
    padding: 0 20px;
    font-size: 16px;
    margin-top: 200px;
}